- var image_path = 'assets/img'
- var css_path = 'assets/css'
- var js_path = 'assets/js'
- var domain = 'https://example.com/'
- var content_d_state = "comingsoon"
-
  var pages = {
    top : {
      url : 'index.html',
      name : 'トップページ',
      title : 'トップページ',
      description : 'トップページです',
      keywords : 'トップページ',
      image : 'assets/img/ogp.jpg'
    },
    content_a : {
      url : 'content_a.html',
      name : 'コンテントA',
      title : 'コンテントA',
      description : 'コンテントAです',
      keywords : 'コンテントA',
      image : 'assets/img/ogp.jpg'
    },
    content_b : {
      url : 'content_b.html',
      name : 'コンテントB',
      title : 'コンテントB',
      description : 'コンテントBです',
      keywords : 'コンテントB',
      image : 'assets/img/ogp.jpg'
    },
    content_c : {
      url : 'content_c.html',
      name : 'コンテントC',
      title : 'コンテントC',
      description : 'コンテントCです',
      keywords : 'コンテントC',
      image : 'assets/img/ogp.jpg'
    },
    content_d : {
      url : 'content_d.html',
      name : 'コンテントD',
      title : 'コンテントD',
      description : 'コンテントDです',
      keywords : 'コンテントD',
      image : 'assets/img/ogp.jpg'
    }
  }
