-
  var header = [
    {
      'url':'/information/',
      'text':'元気なお知らせ',
      'child':
      [
        {
          'url':'/service/ourstyle/',
          'text':'インターリンクはこう仕事します'
        },
        {
          'url':'/service/consultant/',
          'text':'速いWebコンサルティング'
        },
        {
          'url':'/service/outsourcing/',
          'text':'うまい常駐サービス'
        },
        {
          'url':'/service/development/',
          'text':'遠足のようなシステムサービス'
        }
      ]
    },
    {
      'url':'/service/',
      'text':'できること',
      'child':
      [
        {
          'url':'/service/ourstyle/',
          'text':'インターリンクはこう仕事します'
        },
        {
          'url':'/service/consultant/',
          'text':'速いWebコンサルティング'
        },
        {
          'url':'/service/outsourcing/',
          'text':'うまい常駐サービス'
        },
        {
          'url':'/service/development/',
          'text':'遠足のようなシステムサービス'
        }
      ]
    },
    {
      'url':'/work/',
      'text':'やったこと',
      'child':
      [
        {
          'url':'/work/#anc-app',
          'text':'自社サービス'
        },
        {
          'url':'/work/#anc-web',
          'text':'受託制作'
        }
      ]
    },
    {
      'url':'/ourinfo/',
      'text':'わたしたちについて',
      'child':
      [
        {
          'url':'https://www.tonty.net/',
          'text':'DIY特化型SNS「Tonty（トンティ）」リリースのお知らせ'
        },
        {
          'url':'/lp/intara_saru/',
          'text':'インタラ部始動!!'
        },
        {
          'url':'/ourinfo/#anc-summary',
          'text':'元気な会社の概要'
        },
        {
          'url':'/ourinfo/#anc-trading',
          'text':'主要取引先'
        },
        {
          'url':'/ourinfo/#anc-history',
          'text':'元気な会社のなりたち'
        },
        {
          'url':'/ourinfo/#anc-message',
          'text':'経営者からのメッセージ'
        },
        {
          'url':'/ourinfo/#anc-whatil',
          'text':'インターリンクとは？'
        }
      ]
    },
    {
      'url':'/contact/',
      'text':'お問い合わせ'
    }
  ]
