include ./model/_index.pug
footer
  div
    canvas(width="960",height="38")
    nav
      ul
        li
          a
            span トップページ
    nav
      dl
        each footerlist in footer
          each key in footerlist
            dt
              a(href=key) #{key}
            dd
              a(href=key) #{key}
    small
    ul
      li
        a(href="")
    div
      img(src="", alt="")
//-     <nav class="md-footer md-footer__menu">
//-         <dl class="md-footer__menubox">
//-             <dt class="md-footer__menulist md-footer__top"><a href="/service/">できること</a></dt>
//-             <dd class="md-footer__menulist"><a href="/service/ourstyle/">初めての方へ</a></dd>
//-             <dd class="md-footer__menulist"><a href="/service/consultant/">成果が上がるWebコンサルティングを知りたい</a></dd>
//-             <dd class="md-footer__menulist"><a href="/service/outsourcing/">いますぐ適切な人材が欲しい</a></dd>
//-             <dd class="md-footer__menulist"><a href="/service/development/">開発後の保守も気になる</a></dd>
//-             <dd class="md-footer__menulist"><a href="/lp/haguruma/">Webサイトで利益を上げたい</a></dd>
//-             <dd class="md-footer__menulist"><a href="/lp/efo/">エントリーフォーム最適化？</a></dd>
//-             <dd class="md-footer__menulist"><a href="/lp/wss/">Web運用を変えたい</a></dd>
//-             <dd class="md-footer__menulist"><a href="/lp/intara_saru/">インタラ部 始動！！</a></dd>
//-         </dl>
//-         <dl class="md-footer__menubox">
//-             <dt class="md-footer__menulist"><a href="/work/">やったこと</a></dt>
//-             <dd class="md-footer__menulist"><a href="/work/#anc-app">自社サービス</a></dd>
//-             <dd class="md-footer__menulist"><a href="/work/#anc-web">受託制作</a></dd>
//-             <dd class="md-footer__menulist"><a href="/work/#anc-ojt">OJT</a></dd>
//-         </dl>
//-         <dl class="md-footer__menubox">
//-             <dt class="md-footer__menulist"><a href="/ourinfo/">わたしたちについて</a></dt>
//-             <dd class="md-footer__menulist"><a href="/ourinfo/#anc-summary">元気な会社の概要</a></dd>
//-             <dd class="md-footer__menulist"><a href="/ourinfo/#anc-trading">主要取引先</a></dd>
//-             <dd class="md-footer__menulist"><a href="/ourinfo/#anc-history">元気な会社のなりたち</a></dd>
//-             <dd class="md-footer__menulist"><a href="/ourinfo/#anc-message">経営者からのメッセージ</a></dd>
//-             <dd class="md-footer__menulist"><a href="/ourinfo/#anc-whatil">インターリンクとは？</a></dd>
//-         </dl>
//-         <dl class="md-footer__menubox">
//-             <dt class="md-footer__menulist"><a href="/contact/">お問い合わせ</a></dt>
//-         </dl>
//-     </nav>
//-     <small class="md-footer__notices">
//-     <ul class="md-footer__noticesbox">
//-         <li class="md-footer__notices-list"><a href="/privacy.html">情報セキュリティ基本方針</a></li>
//-         <li class="md-footer__notices-list"><a href="/application_policy.html">利用規約</a></li>
//-         <li class="md-footer__notices-list"><a href="/specified.html">特定商取引に基づく表示</a></li>
//-         <li class="md-footer__notices-list"><a href="/sitemap.html">サイトマップ</a></li>
//-     </ul>
//-     </small>
//-     <div class="md-isms">
//-         <img src="/img/isms.png" alt="isms">
//-     </div>
//- </footer>
