#main-wrap
  #main-image
  section#main-visual
    .m-logo
      picture
        source(media="(min-width: 769px)",srcset="./images/mv-thanks.png")
        source(media="(max-width: 768px)",srcset="./images/mv-thanks--sp.png")
        img.m-logo__thanks(src="./images/mv-thanks.png",alt="応援ありがとうございます！",width="539",height="36")
      h1.m-head.m-head--yuzuru
        img.m-logo__yuzuru(src="./images/mv-yuzuru.png",alt="羽生結弦展",width="539",height="348")
      img.m-logo__data(src="./images/mv-data.png",alt="2018年4月11日（水）",width="535",height="58")
      img.m-logo__place(src="./images/mv-place.png",alt="日本橋髙島屋（東京都中央区）で開幕",width="536",height="43")
      .m-entrance
        .m-entrance__inner
          img.m-entrance__img(src="./images/mv-entrance.png",alt="入場無料",width="162",height="34")
        p.m-entrance__txt
          |羽生結弦選手の平昌五輪シーズンまでの
          br
          |競技生活を振り返ります。
          br
          |読売新聞社が撮影した写真を中心に、
          br
          |衣装、スケート靴、メダルなどを展示する予定です。
          br
          a.m-entrance__link(href="http://www.takashimaya.co.jp/store/special/event/hanyu.html") 会場の特設サイトはこちら

  section.m-band
    .m-band__inner
      h1.m-head.m-head--venue 会場・日程
      .m-band__box
        dl.m-place
          dt.m-place__store 1. 日本橋髙島屋
          dd.m-place__date 4月11日(水) ～ 4月23日(月)
        dl.m-place
          dt.m-place__store 2. 大阪髙島屋
          dd.m-place__date 4月25日(水) ～ 5月7日(月)
        dl.m-place
          dt.m-place__store 3. 京都髙島屋
          dd.m-place__date 5月9日(水) ～ 5月21日(月)
        dl.m-place
          dt.m-place__store 4. 藤崎
          dd.m-place__date 6月28日(木) ～ 7月3日(火)
        dl.m-place
          dt.m-place__store 5. ジェイアール名古屋髙島屋
          dd.m-place__date 7月19日(木) ～ 7月30日(月)
        dl.m-place
          dt.m-place__store 6. 横浜髙島屋
          dd.m-place__date 8月8日(水) ～ 8月20日(月)

    aside.m-information
      .m-information__inner
        ul.m-information__box
          li.m-information__list
            span 主催：読売新聞社
          li.m-information__list
            span 特別協力：髙島屋、藤崎百貨店(仙台)
          li.m-information__list
            span 協力：全日本空輸
          li.m-information__list
            span 協賛：味の素、西川産業、ファイテン　

