include ./_model/_index.pug
<main class="l-main">
            <section id="sp-map-area" class="md-toppage">
                <section class="md-toppage__box">
                    <h2 class="md-ttl"><img src="./img/ttl-work.png" class="md-ttl__name--work"></h2>
                    <div class="md-ttl__sub">インターリンクの日本を元気にした実績です。</div>
                    <section class="md-performance__box">
                        <a href="work/" class="md-move--performance js-canvas--btn">
                            <span>おかわり</span>

                        <canvas width="100" height="100"></canvas></a>
                        <article class="md-performance__list">
                            <a href="./work/kanon/"><canvas width="230" height="230" style="display: inline-block;"></canvas>

                                <span class="md-performance__text">妹を企画・制作しました！！<br>なでなで目覚まし。かのん</span>
                            </a>
                        </article>
                        <article class="md-performance__list">
                            <a href="./work/tonty/"><canvas width="230" height="230" style="display: inline-block;"></canvas>

                                <span class="md-performance__text">DIYで暮らし彩る<br>Tonty（トンティ）</span>
                            </a>
                        </article>
                        <article class="md-performance__list">
                            <a href="./work/biglobe/"><canvas width="230" height="230" style="display: inline-block;"></canvas>

                                <span class="md-performance__text">運用の無限コンボ<br>BIGLOBE様 Webサイト運用</span>
                            </a>
                        </article>
                    </section>
                </section>
        </main>
