include ./_model/_index.pug

// main
block main
  main#l-main.l-main
    section.p-toppage
      h2.c-hedding 日本を元気にした実績
      span.c-headding__read インターリンクの日本を元気にした実績です。

      div.c-performance
        each performancelist in performance
          article.c-performance__list
              a(href=performancelist.url).c-performance__link
                h3.c-performance__text #{performancelist.text}
    section.p-toppage
      h2.c-hedding 日本を元気にする会社。

      div.c-contact
        div.c-contact__map
        div.c-contact__about
