-
  var performance = [
    {
      'url':'./work/kanon/',
      'text':'妹を企画・制作しました！！<br>なでなで目覚まし。かのん'
    },
    {
      'url':'./work/tonty/',
      'text':'DIYで暮らし彩る<br>Tonty（トンティ）'
    },
    {
      'url':'./work/biglobe/',
      'text':'運用の無限コンボ<br>BIGLOBE様 Webサイト運用'
    }
  ]
