meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="format-detection", content="telephone=no")
title インターリンクはこう仕事します | インターリンク株式会社
meta(content="ああああああああああああああああああああ", name="description")
meta(content="xxx", name="keywords")
link(rel="stylesheet",type="text/css",src="/css/main.css")

