meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="format-detection", content="telephone=no")

title テスト

meta(content="xxx", name="description")
meta(content="xxx", name="keywords")
meta(content="xxx", property="og:title")
meta(content="xxx", property="og:description")
meta(content="ja_JP", property="og:locale")

script(src="/js/main.js")
