block html
  doctype html
  html(lang="en")
    head
      include ./_head.pug
    body
      include ./_project/_header/index
      include ./_project/_main/index
      include ./_project/_footer/index
