doctype html
html
  head
    title ダミーが入っています。
    meta(charset='utf-8')
    link(rel="stylesheet",src="/css/main.css")
  body
    include ./_layout/_header/_index.pug
    include ./_layout/_footer/_index.pug
