.p-ft {
	&__cvs {
	}
	&__pankuzu {
    border-top:2px solid $color0;
    border-bottom:2px solid $color0;
	}
	&__pankuzu__unit {
	}
	&__pankuzu__unitlist {
		&--active {
		}
	}
	&__nav {
    display: flex;
    justify-content: space-evenly;
	}
	&__nav__menu {
    flex:1;
	}
	&__nav__menulist {
		&--top {
      border-bottom: 1px dashed #000;
      margin-bottom: 1rem;
		}
	}
	&__nav__menulink {
	}
	&__notice {
	}
	&__notice__box {
    display: flex;
    justify-content: space-evenly;
	}
	&__notice__boxlist {
	}
	&__notice__boxlink {
	}
	&__isms {
    text-align: center;
	}
	&__isms__icon {
	}
}
