include ../model/_header.pug
header.l-header
  div
    span JA/
      a(href="#") EN
    a(href="javascript:void(0);")
      - for (var i = 0; i < 3; i++)
        span
    h1
      a(href="/")
        img(src="/img/logo-il.png",alt="Interlink")
    address 〒102-0073東京都千代田区九段北4-1-3飛栄九段北ビル7F<br>お電話:03-3234-3311
    nav
      div
        a(href="javascript:void(0);")
          - for (var i = 0; i < 2; i++)
            div
      ul
        each yousukelist in yousuke
          li
            a(href=yousukelist.url) #{yousukelist.text}
              ul
                if yousukelist.child
                  each value in yousukelist.child
                    li
                      a(href=value.url) #{value.text}
