//- extends ../_include/_layout.pug

//- block title
//-   title Page Title

//- block content
//-   h1 Page Content


//- mixin list
//-  ul.gNav
//-    li: a(href='home.html') HOME
//-    li: a(href='home.html') HOME
//-    li: a(href='home.html') HOME


//- doctype html
//- html
//-   head
//-     title Hello, Pug Mixins
//-   body
//-     +list

//-     .content ページごとのコンテンツ

//-     +list
